# Godot 4+ specific ignores
.godot/

# Godot-specific ignores
.import/
export.cfg

# VSCode specific ignores
.vscode/

# Exported
.export/

# Android build ignore
android/build/*
# !android/build/AndroidManifest.xml

#Ignore temporary files
*.tmp

# Ignore if you are using a custom ffmpeg build directly in the project.
editor/utils/ffmpeg/ffmpeg.exe
editor/utils/ffmpeg/LICENSE
